.group-messages{
  display: grid;
  grid: 30px / 114px 1fr;
  align-content: center;
  align-items: center;
  background-color: #727272;
  padding: 8px;
  opacity: 0.7;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  overflow-x: scroll;
}

.talking-groups{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.talking-groups a {
  color: rgb(0, 0, 0);
  opacity: 0.7;
  text-decoration: none;
  font-size: 1rem;
  padding: 0px 10px;
}
.talking-groups a:hover {
  opacity: 1;
}
